//
//  AppSecrets.h
//  voicebox
//
//  Created by Steve Cosman on 2022-12-06.
//

#ifndef AppSecrets_h
#define AppSecrets_h

// Fill in this file, and remove the template prefix to build

#define OPEN_API_KEY @"You must put a valid OpenAPI key here"

#endif /* AppSecrets_h */
